[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=mad-developer
Exec=invoker --single-instance --type=silica-qt5 sailfish-qml mad-developer
Name=Mad Developer

[X-Sailjail]
Permissions=Base
